<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="deployTos" type="DeployFast.Agent.DeployTosSection, DeployFast.Agent" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <deployTos>
    <add appId="Application" deployTo="Targets\Application" />
    <add appId="Jobs" deployTo="Targets\Jobs" />
    <add appId="AuthService" deployTo="Targets\AuthService" />
    <add appId="ConnectService" deployTo="Targets\ConnectService" />
  </deployTos>
  <appSettings>
    <add key="SettingsFolder" value="Settings" />
    <add key="MinSeverity" value="Debug" />
    <add key="PollingSeconds" value="10" />
    <add key="FilesToSkip" value="librfc32.dll;erpconnect.dll" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
